* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.links {
    position: absolute;
    z-index: 100;
}

.links > a {
    margin-left: 10px;
}

#canvas1 {
    position: absolute;
    background-color: #ccbcbc;
    width: 100%;
    height: 100%;
}